In [37]:
import pandas as pd
import numpy as np
import statistics

In [38]:
df = pd.DataFrame()
df['age'] = [14, 12, 11, 10, 8, 8, 6]
df['name'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Oliver', 'Cindy']
df.set_index('name')

        age
name
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Oliver    8
Cindy     6

In [39]:
#Question 1
df.describe()

             age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [40]:
np.median(df['age'])

10.0

In [41]:
statistics.mode(df['age'])

8

In [42]:
np.var(df.age)

6.408163265306122

In [43]:
np.std(df['age'] ,ddof=1) / np.sqrt(len(df['age']))

1.0334540197243192

In [44]:
# Question 2 
#The one variable I would pick to descirbe the central tendancy is the median as that is the middle or "central" number in which all other variables cluster. The variable I would pick for the variance is the variance

In [48]:
# Question 3 
df.iloc[6,0] = 7
df.describe()
#all the numbers except the count and max changed -review below

             age
count   7.000000
mean   10.000000
std     2.516611
min     7.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [54]:
#Question 4
df.iloc[5,0] = 1
df.iloc[5,1] = "Jessica"
df.describe()
#Yes, values have changed for 1 year old jessica

             age
count   7.000000
mean    9.000000
std     4.242641
min     1.000000
25%     7.500000
50%    10.000000
75%    11.500000
max    14.000000

In [58]:
#Question 5
df_fans = pd.DataFrame()
df_fans['Percentage'] = [0.20, 0.23, 0.17, 0.05]
df_fans['Magaize'] = ['TV Guide', 'Entertainment Weekly', 'Pop Culture Today', 'SciFi Phantic']
df_fans

   Percentage               Magaize
0        0.20              TV Guide
1        0.23  Entertainment Weekly
2        0.17     Pop Culture Today
3        0.05         SciFi Phantic

In [59]:
df_fans.describe()

       Percentage
count    4.000000
mean     0.162500
std      0.078899
min      0.050000
25%      0.140000
50%      0.185000
75%      0.207500
max      0.230000

In [ ]:
# About 16.5% of the population enjoys the Brady Bunch